.section-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #af49ce;
    min-height: 500px;
  }

.section-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #af49ce;
    min-height: 500px;
  }
  
  .section-title, .section-content {
    width: 45%;
  }
  
  .section-title {
    text-align: left;
  }
  
  .section-title h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .section-content {
    text-align: right;
  }
  